body{
    padding: 10px 20px;
    height: 100vh;
}

.h1container{
    display: block;
    position: absolute;
    left: 50px;
    top: 20px;
    font-family: 'Inconsolata', monospace;

}

.timercontainer {
    display: block;
    position: absolute;
    right: 50px;
    top: 20px;
}
#timer {
    font-size: 2em;
}

.formcontainer {
    height: 80vh;
    width: 60%;
    margin: 35vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

#colorForm {
    width: 100%;
    visibility: hidden;
}

input[type="text"] {
    width: 70%;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: none;

}

#start{
    background-color: #111;
    color: white;
}

.btn{
    width: 100px;
    clear: both;
    margin: auto;
}

#endgame { 
    font-size: 2em;
}

.usedColorP {
    font-size: 1.6em;
}

svg{
    margin-bottom: -100%;
}

path {
    fill: transparent;
}


text{
    font-size: 37;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    fill:white;
}

.rainbow {
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{fill: orange;}	
   10%{fill: purple;}	
     20%{fill: red;}
   30%{fill: CadetBlue;}
     40%{fill: yellow;}
   50%{fill: coral;}
     60%{fill: green;}
   70%{fill: cyan;}
   80%{fill: DeepPink;}
   90%{fill: DodgerBlue;}
     100%{fill: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{fill: orange;}	
   10%{fill: purple;}	
     20%{fill: red;}
   30%{fill: CadetBlue;}
     40%{fill: yellow;}
   50%{fill: coral;}
     60%{fill: green;}
   70%{fill: cyan;}
   80%{fill: DeepPink;}
   90%{fill: DodgerBlue;}
     100%{fill: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{fill: orange;}	
   10%{fill: purple;}	
     20%{fill: red;}
   30%{fill: CadetBlue;}
     40%{fill: yellow;}
   50%{fill: coral;}
     60%{fill: green;}
   70%{fill: cyan;}
   80%{fill: DeepPink;}
   90%{fill: DodgerBlue;}
     100%{fill: orange;}
 }








.columnwrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.columndiv {
    padding: 20px 60px;
    text-align: justify;
}

.credits {
    position: absolute;
    bottom: 20px;
}






@media only screen and (max-width: 600px) {

    .formcontainer{
        width: 100%;
    }
    .input[type="text"] {
        width: 100%;
    }
    .timercontainer { 
        top: 80px;
    }
    .columnwrapper {
        flex-direction: column;
    }
    .credits {
        position: relative;
        margin-top: 20px;
    }

}